$main-bg: #dec3fd;
$main-bg-second: #d1aef8;
$leg-width: 26px;
$leg-width-tablet: 34px;
$leg-width-desktop: 38px;
$gong-color: #ffefb8;
$rope-color: #1d1d1a;
$gong-border: #42413d;
$leg-shadow: #a0725b;
$leg-color: #b48868;
$shadow-width: 4px;
$shadow-width-desktop: 8px;
$animation-iterations: 4;
$tablet: 540px;
$desktop: 1180px;
$min-width-tablet: "(min-width: #{$tablet})";
$min-width-desktop: "(min-width: #{$desktop})";
$max-width-desktop: "(max-width: #{$desktop})";